@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #1a3fd6;
  --color-primary-700: #1d4ed8;
  --color-accent-purple: #8B5CF6;
  --color-accent-orange: #F97316;
  --color-navy: #0f172a;
}

/* Custom styles can go here */
